/* Paramètres généraux */

body{
    font-family: 'Poppins', sans-serif ;
    color: #030612;
    background-color: #EDF4F8;
}

/* Header avec logo/bouton/BurgerMenu en flex + marges fixes à droite et à gauche*/

header {
    background-color: #CBD8F6;
    height: 90px;;
}

.Menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logo {
    margin-left: 144px;
}

.MenuButton > a {
    padding: 16px 20px;
    border-radius: 15px;
}

.PrimaryButton {
    background-color: #4169E1;
    color: #EDF4F8;
    text-decoration: none;
    font-size: 16px;
}

.TextButton {
    color: #4169E1;
    text-decoration: none;
    font-size: 16px;
}

.BurgerMenu {
    display: flex;
    text-align: end;
    margin-right: 144px;
}

ul.MenuList {
    display: none;
    position: absolute;
}

li:hover ul.MenuList {
    display : block;
}

ul.MenuList li {
    padding: 16px 20px;
    position: relative;
    background-color: #CBD8F6;
}

ul.MenuList li a{
    text-decoration: none;
    color: #4169E1;
}
/* Corps de la page */

/* Section de l'équipe, en flex (je suis le plus à l'aise dessus). La marge du H2 est fixe c'est fait exprès. Des adaptations au niveau de la taille de la police ont été faites par rapport aux frames faites avant. Présentation team + rôle de chacun */

div.Team {
    background-color: #EDF4F8;
    margin-top: 100px;
    margin-bottom: 100px;
}

h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 43.2px;
}

.TitleTeam {
    margin-bottom: 100px;
    margin-left: 217px;
}

.block {
    background-color: #CBD8F6;
    width: 231px;
    height: 231px;
}

.Team4 > img {
    width: 231px;
    height: 231px;
}

.text {
    width: 231px;
    height: 231px;
    padding: 0px 10px;
}

.Row {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
}

h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.text h4{
    margin-bottom: 20px;
}

/* Partie 2 : Le paragraphe sur notre projet. Ce qu'on a décidé etc. Partie courte. Changement de fond pour marquer le changement de section. */

div.Project {
    background-color: #CBD8F6;
    padding: 100px 0;
}

.TitleProject {
    margin-bottom: 50px;
    margin-left: 217px;
}

div.Project p {
    padding: 0px 200px;
}

/* Partie 3 : Les jeux, en flex avec icone + explications simples afin qu'un bouton play pour aller directement jouer */

div.Games {
    background-color: #EDF4F8;
    padding: 100px 0;
}

.TitleGames {
    margin-bottom: 100px;
    margin-left: 217px;
}

.GamesBlock {
    background-color: #4169E1;
    width: 231px;
    height: 231px;
}

.GamesText{
    width: 231px;
    height: 231px;
    padding: 0px 10px;
}

.GamesRow {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
}

.ButtonRow {
    display: flex;
    justify-content: flex-start;

}

.ButtonRow a{
    margin-left: 231px;
}

/* Pour cet id, j'ai préféré faire comme cela car comme ça je suis certaine que tout est bien aligné, et si jamais on avait voulu mettre un 6ème jeu, c'était totalement possible */

#Invisible {
    background-color: #EDF4F8;
}

.GamesText > a {
    padding: 16px 20px;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 6px;
    position: absolute;
}

.GamesText > p {
    padding: 10px 5px;
}

/* Footer */
/* 3 colonnes pour la première div et un élément centré */

footer {
    background-color: #CBD8F6;
    padding: 50px 150px;
}

.FooterInfos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.FooterList {
    padding: 10px 0;
}

.Copyright {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.Column ul li.FooterList a{
    text-decoration: none;
    color: #030612;
}

.Column > h4 {
    margin-bottom: 15px;
}

.LogoTwitter {
    width: 24px;
    height: 24px;
}

.LogoInstagram {
    width: 24px;
    height: 24px;
}

.LogoFacebook {
    width: 24px;
    height: 24px;
}

/* PAGE DE JEU */

/* La navigation et le footer restent le même */

/* MAIN PAGE DE JEU */

/* L'explication du jeu en paragraphe (si on veut mettre plusieurs paragraphes dans le html c'est possible d'en ajouter */

.PresentationGame {
    padding: 100px 0px;
}

.TitlePresentationGame {
    margin-bottom: 50px;
    margin-left: 217px;
}

div.PresentationGame p {
    padding: 0 200px;
}

/* L'emplacement du jeu : je fais rectangle dans une div le temps d'organiser le jeu */

.GameBackground {
    background-color: #CBD8F6;
    padding: 100px 200px;
}

.GamePlace {
    background-color: #4169E1;
    padding: 100px 200px;
}

/* Le menu en bas qui permet d'accéder aux autres jeux */

.GameMenu {
    padding: 100px 200px 120px 200px;
    background-color: #EDF4F8;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.GameMenu div div {
    margin-left: 50px;
}

/* Pour les blocs de couleurs et les boutons j'ai repris des classes existantes car le css est le même */

.GameMenu div a {
    padding: 16px 20px;
    border-radius: 15px;
    position: absolute;
    margin-top: 20px;
    margin-left: 130px;
}

/* CSS UNIQUE */
/* Pour toutes les parties d'avant, le css est valable sur plusieurs pages en même temps. Ici, c'est le css relatif aux jeux donc il est unique. */

.Pad {
    padding: 100px 100px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 15px;
}

.SimonScoreboard{
    padding: 55px 60px;
    background-color: #CBD8F6;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    border-radius: 15px;
}

.StartButtonSimon {
    padding: 16px 20px;
    background-color: #4169E1;
    border-radius: 15px;
    color: #EDF4F8;
    font-family: 'Poppins', sans-serif;
}

a.StartButtonSimon {
    text-decoration: none;
}

.SimonSpan {
    padding-top: 30px;
}

.PadRom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#NotVisible {
    background-color: #4169E1;
}

/* COULEURS */

.Green {
    background-color: #50A519;
}

.Red {
    background-color: #DA2B2B;
}

.Yellow {
    background-color: #E9F646;
}

.Blue {
    background-color: #29329C;
}

/* COULEURS HOVER */

.Green:hover {
    background-color: #2E630C;
}

.Red:hover {
    background-color: #A32323;
}

.Yellow:hover {
    background-color: #a6af21;
}

.Blue:hover {
    background-color: #151C6A;
} 



/* COULEURS PRESSED */

.Green:active {
    /* Oui, j'ai réussi à placer cette MA GNI FI QUE couleur qu'est chartreuse. Bien à vous : Séverine */
    background-color: chartreuse;
}

.Red:active {
    background-color: tomato;
}

.Yellow:active {
    background-color: lightgoldenrodyellow;
}

.Blue:active {
    background-color: skyblue;
} 

/* COULEUR ACTIVE */

.light.Blue{
    background-color: skyblue;
}

.light.Red{
    background-color: tomato;
}

.light.Yellow{
    background-color: lightgoldenrodyellow;
}

.light.Green{
    background-color: chartreuse;
}
