.main{
   
    height: 600px;
}

canvas{
    background-color:#030612;
    box-shadow: #030612 0px 20px 70px;
    float: left;
    margin-left: 130px;
}
button{
    margin-top: 20px;
    padding: 15px 15px;
    color: #CBD8F6;
    background-color: #030612;
    border: none;
    border-radius: 15px;
    float: right;
    
}
.class-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 50px;
}

.paragraphe{
    margin-top: 40px;
    margin-right: 170px;
    float: right;
    font-size: 16px;
   
}

